[tool.poetry]
name = "nonebot-adapter-minecraft"
version = "1.0.8.post1"
description = "NoneBot2与MineCraft Server互通的适配器。"
authors = ["17TheWord <17theword@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{ include = "nonebot" }]

[tool.poetry.dependencies]
python = "^3.8"
mcqq-tool = "^1.1.4"
aio-mc-rcon = "^3.2.2"
nonebot2 = { version = "^2.2.0", extras = ["fastapi"] }


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.data.packages]
my_package = { path = "nonebot/adapters/minecraft" }